name: Docker Build

on:
  push:
    branches: ["main"]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build image
        run: docker build -t axelliant/ax-react-enterprise-starter:latest .
